:host {
    display: flex;
    margin: 0.2rem 0;
    background: hsl(115, 100%, 95%);
    padding: 0.3rem;
}

.avatar {
    width: 5rem;
    text-align: center;
}
.avatar img {
    width: 4.5rem;
}

.msg {
    flex: 1;
}

.msg header h3 {
    margin: 0.2rem 0.5rem;
    display: inline-block;
}

.msg header span {
    font-size: 0.8rem;
}